<!DOCTYPE html>
<html lang="en">

<head>
    <title>Prayer Requests</title>
    <%- include('../layout/head') %>
    <link rel="stylesheet" href="../../styles/prayer_list.css">
</head>

<body>
    <%- include('../layout/header') %>
    <main>
        <div class="all-prayers">
            <div>
                <h1><i class="fas fa-praying-hands"></i></h1>
                <h1>All Prayer Requests</h1>
                <!-- TODO: Handle singluar vs plural when rendering -->
                <% if(prayers.length === 1){%>
                    <h6>There is currently <%=prayers.length %> prayer saved in the database </h6>
                    <%} else { %> 
                        <h6>The are currently <%=prayers.length %> prayers saved in the database</h6>
                        <%}%>
                        <!-- <ul class= "object-list"> -->
            </div>
            <div class="prayers">
                <% prayers.forEach(prayer => { %>
            <div>
                <div>
                    <h3><%=prayer.date%></h3>
                    <div class="helper">
                        <a><i class="fas fa-plus-square add-update" id="<%=prayer.prayer_id%>"></i></a>
                        <span class="helper-text" id="helper-update">Add Status Update</span>
                    </div>
                    <div class="helper">
                            <form action="/prayer/<%=prayer.prayer_id%>" method="POST" class="helper">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit"><a><i class="fas fa-trash-alt"></i></a></button>
                                <span class="helper-text">Delete</span>
                              </form>
                        <!-- <a><i class="fas fa-trash-alt"></i></a> -->
                    </div>
                    <div class="helper">
                        <button><a><i class="fas fa-edit"></i></a></button>
                        <span class="helper-text" id="prayer-edit">Edit</span>
                    </div>
                </div>
                <p><%= prayer.prayer %></p>
                <% if(prayer.comments.length !== 0) { %> 
                <h3>Updates:</h3>
                <%}%>    
                <% prayer.comments.forEach(comment => { %>
                <section class="prayer-update">
                    <div>
                        <h3><%= comment.date %></h3>
                        <p><%(comment.update).forEach(partialComment => { %> 
                                <%= partialComment %><br><br>
                                <%})%> </p>
                    </div>
                    <div>
                        <div class="helper">
                            <a><i class="fas fa-edit"></i></a>
                            <span class="helper-text" id="prayer-edit">Edit</span>
                        </div>
                        <div class="helper">
                            <form action="/prayer-update/<%=comment.id%>" method="POST" class="helper">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit"><a><i class="fas fa-trash-alt"></i></a></button>
                                <span class="helper-text">Delete</span>
                            </form>
                        </div>
                    </div>
                </section>
                <% }) %>
                
            <form class="add-prayer-update-form" id="add-update-<%=prayer.prayer_id%>"action="/new-update" method="post">
                <!-- TODO: remove pink input outlines -->
                
                <div class = "form-title">
                    <h3><i class="fas fa-praying-hands"></i>Add a Prayer Request Update</h3>
                </div>
                
                <input type=hidden name="date" value="<%=new Date()%>" required>
                <input type=hidden name="prayer_id" value="<%=prayer.prayer_id%>" required>

                <textarea name="comment" placeholder="Prayer Request Update" cols="30" rows="5" required></textarea>
                
                <button type="submit">Add Update</button>
            </form>
            <div class="line-break"></div>  
        </div>
        <% }) %>
        <!-- </ul> -->
    </div>
    </div>
    </main>
    <%- include('../layout/footer') %>
</body>

</html>